# Compiled source #
###################
*.obj
*.d
*.gcno
*.o

# Packages #
############
*.rpm
*.sdp
*.tar.gz
*.tgz
*.bin
*.exe
*.tar
*.zip
*.jar

# Windows Specific #
####################
*.ccscc
*.dsp
*.dsw
*.vcproj
*.sln
*.pdb
*.vspscc
*.suo
*.vsscc
*.vssscc

# application binary list
#/afp_cnz/
afp_cnz/afp_cxc/doc/
afp_cnz/afp_cxc/bin/aes_afpd
afp_cnz/afp_cxc/bin/afpdef
afp_cnz/afp_cxc/bin/afpls
afp_cnz/afp_cxc/bin/afprm
afp_cnz/afp_cxc/bin/.debug/aes_afpd_dbg
afp_cnz/afp_cxc/bin/.debug/afpdef_dbg
afp_cnz/afp_cxc/bin/.debug/afpls_dbg
afp_cnz/afp_cxc/bin/.debug/afprm_dbg
afp_cnz/afp_cxc/bin/lib_ext/libaes_afp.so.1.*
afp_cnz/afp_cxc/bin/lib_ext/.debug/libaes_afp.so.1.*

#/cdh_cnz/
cdh_cnz/cdh.sln
cdh_cnz/cdhadm_caa/test/cutetest/bin/aes_cute_testsuite
cdh_cnz/cdhadm_caa/test/SSHtest/bin/sftp
cdh_cnz/cdhadm_caa/test/cdh_ftp_improve/cdhftp
cdh_cnz/cdh_cxc/doc
cdh_cnz/cdh_cxc/bin/aes_cdhd
cdh_cnz/cdh_cxc/bin/cdhdsls
cdh_cnz/cdh_cxc/bin/cdhls
cdh_cnz/cdh_cxc/bin/.debug/aes_cdhd
cdh_cnz/cdh_cxc/bin/.debug/cdhdsls
cdh_cnz/cdh_cxc/bin/.debug/cdhls
cdh_cnz/cdh_cxc/bin/lib_ext/libaes_cdh.so.1.*
cdh_cnz/cdh_cxc/bin/lib_ext/.debug/libaes_cdh.so.1.*
cdh_cnz/cdh_cxc/bin/.debug/aes_cdhd_dbg
cdh_cnz/cdh_cxc/bin/.debug/cdhdsls_dbg
cdh_cnz/cdh_cxc/bin/.debug/cdhls_dbg

#/gcc_cnz/
gcc_cnz/gccapi_caa/test/CUTE/bin/gcc_cute_test
gcc_cnz/gccapi_caa/test/DataPathTest/bin/dataPathTest
gcc_cnz/gccapi_caa/test/EventTest/bin/aes_gcc_event_test
gcc_cnz/gccapi_caa/test/MessageQueue/bin/messagequeue_test
gcc_cnz/gccapi_caa/test/StreamTest/bin/streamTest
gcc_cnz/gccapi_caa/test/ThreadTest/bin/threadTest
gcc_cnz/gcc_cxc/doc/
gcc_cnz/gcc_cxc/bin/lib_ext/libaes_gcc.so.2.*
gcc_cnz/gcc_cxc/bin/lib_ext/.debug/libaes_gcc.so.2.6.0_dbg

#/dbo_cnz/
dbo_cnz/dbo_cxc/doc/
dbo_cnz/dbo_cxc/doc/bin/aes_dbod
dbo_cnz/dbo_cxc/doc/bin/.debug/aes_dbod_dbg
dbo_cnz/dbo_cxc/bin/lib_ext/libaes_dbo.so.2.*
dbo_cnz/dbo_cxc/bin/lib_ext/.debug/libaes_dbo.so.2.*
dbo_cnz/dbo_cxc/bin/.debug/aes_dbod_dbg
dbo_cnz/dbo_cxc/bin/aes_dbod

#/ddt_cnz/
ddt_cnz/ddt_cxc/doc/
ddt_cnz/ddt_cxc/bin/aes_ddtd
ddt_cnz/ddt_cxc/bin/.debug/aes_ddtd_dbg

#/ohi_cnz/
ohi_cnz/ohiapi_caa/test/BlockTestApp/bin/ohi_block_test
ohi_cnz/ohiapi_caa/test/DirectoryHandlerApp/bin/ohi_directory_test
ohi_cnz/ohiapi_caa/test/ExtFileHandlerApp/bin/ohi_extfile_test
ohi_cnz/ohiapi_caa/test/FileHandlerApp/bin/aes_ohi_apitest
ohi_cnz/ohiapi_caa/test/ohi_cute/bin/ohi_cute_test
ohi_cnz/ohi_cxc/doc/
ohi_cnz/ohi_cxc/bin/lib_ext/libaes_ohi.so.1.*
ohi_cnz/ohi_cxc/bin/lib_ext/.debug/libaes_ohi.so.1.*

### END ### -->

